body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* section one starts here */
h1{
    font-size: 300%;
    font-weight: 600;
    color:darkslategrey;
}
.colored-word{
    color:darkgoldenrod;
}
.container{
    display: flex;
    margin-bottom: 100px;
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.half-width-text{
    width: 50%;
    padding: 10% 5% 5% 5%;

}
.half-width-img{
    width: 70%;
    padding: 5%;
}
.sec-one-para{
    padding-bottom: 10px;
    font-size: 20px;
    color: gray;
}
.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, orange, tomato);
    padding: 20px 40px;
    border-radius: 5%;
}
.section-one-img{
    width: 80%;
}
/* section one ends here*/

/* section two starts here */
.container-two{
    display: flex;
    background-image: url(images/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.hfw-2{
    width: 50%;
    padding-right: 5%;
}
.sec-two-img{
    width: 50%;
}
.hfw-2 h2{
    font-size: 40px;
    color: #504b4b;
}
.hfw-2 p{
    color: gray;
    font-size: 18px;
    padding-bottom: 10px;
}
.hfw-2-img{
    text-align: center;
}
.hfw-2-text{
    padding-top: 60px;
}
/* Section two ends here */

/* section three starts here */
.container-three{
    margin-top: 100px;
    margin-bottom: 100px;
}
.recipy-section{
    text-align: center;
}
.recipy-section h2{
    color: #504b4b;
    font-size: 35px;
}
.recipy-section p{
    padding: 0 25%;
    font-size: 18px;
    color: gray;
}
.box-area{
    display: flex;
    margin: 0 6%;
    /* text-align: center; */
}
.box-item{
    margin: 50px;
    padding: 20px;
    box-shadow: 2px 2px 20px gray;
    border-radius: 20px;
    width: 400px;
    height: 500px;
}
.box-item h3{
    color: #504b4b;
    font-size: 25px;
}
.box-item p{
    color: slategrey;
    font-size: 18px;
}
.box-item img{
    width: 100%;
    border-radius: 5%;
}
.box-item-text{
    padding-right: 20px;
    text-align:center;
}
/* section three ends here */

/* section 3(a) starts here */

.extra-section{ margin: 0%;

}
.extra-img-text-area{
display: flex;
padding-top: 100px;
padding-bottom: 100px;
background-color: #f4ecdf;
}
.extra-img{
    text-align: right;
}
.extra-img img{
    width: 70%;
}
.offer-text{
margin: 0%;
}
.offer-text h2{
    color: #b81616;
    font-size: 230%;
}
.offer-text h3{
    font-size: 150%;
    color: #e74f4f;
    font-style: italic;
}
.offer-text h4{
    font-size: 100%;
    font-style:italic;
    color: lightcoral;
}
.offer-text li{
    list-style-image: url(images/shapes/checked.png);
    font-size: 100%;
    color: gray;
    /* text-align: left; */
}

/* section 3(a) ends here */

/* section four starts here */
.section-four{ margin: 0%;

}
.follower-area{
    display: flex;
    margin: 5% 10% 5%;
    padding: 2%;
    box-shadow: 2px 2px 10px gray;
    border-radius: 20px;
}
.follower-item{
    width: 33%;
    text-align: center;
    margin:2%;
}
.follower-item h2{
    font-size: 250%;
    color: #504b4b;
}
.follower-item p{
    font-size: 100%;
    color: darkslategrey;
}
/* section four ends here */

/* footer starts here */
footer{
    background-color: darkred;
    width: 100%;
    height: 150px;
    text-align: center;
}
footer h3{
    text-transform: lowercase;
    font-size: 150%;
    color: gray;
    padding-top: 5%;
}
footer .colored-word{
    color:darkgoldenrod;
}
footer p{
    color: white;
    font-size: 100%;
}
/* footer ends here */